  <!DOCTYPE html>
  <html lang="ko">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIME TETRIS</title>
    <link rel="stylesheet" href="firstpage.css">
  </head>

  <body>
    <div class="container">
      <h1 class="title">TIME<BR>TETRIS</h1>
      <img src="logo.png" alt="Logo" class="logo">
      <div class="description">
        <p>하루 맞춤 시간 관리 앱 최강자</p>
        <p>AI 맞춤 시간표로 하루를 계획하고 관리하세요.</p>
      </div>
    </div>
  </body>

  </html>
