<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="style.css">
    <script src="jquery-3.4.1.js"></script>
</head>
<body>
    <section class="login-form">
        <h1>로그인</h1>
        <form action="">
            <div class="int-area">
                <input type="text" name="id" id="id" autocomplete="off" required>
                <label for="id">EMAIL</label>
            </div>
            <div class="int-area">
                <input type="password" name="pw" id="pw" autocomplete="off" required>
                <label for="pw">PASSWORD</label>
            </div>
            <div class="btn-area">
                <button type="submit">LOGIN</button>
            </div>
        </form>
    </section>

    <script>
        $(document).ready(function() {
            let id = $('#id');
            let pw = $('#pw');
            let btn = $('button[type="submit"]');

            $(btn).on('click', function(event) {
                event.preventDefault();
                if ($(id).val() === "") {
                    $(id).next('label').addClass('warning');
                    setTimeout(function() {
                        $('label').removeClass('warning');
                    }, 1500);
                } else if ($(pw).val() === "") {
                    $(pw).next('label').addClass('warning');
                    setTimeout(function() {
                        $('label').removeClass('warning');
                    }, 1500);
                } 
            });
        });
    </script>
</body>
</html>
